$headers-font: 'Audiowide', sans-serif;
$body-font: 'Montserrat', sans-serif;
$placeholder-font: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Accent hover color
$accent-color: #ff4081; // Vibrant pink
$accent-color-dark: #e91e63; // Slightly darker for borders
$accent-shadow: rgba(255, 64, 129, 0.4); // For glowing shadows


$primary-color:            #00BCD4;
$primary-light:            #B2EBF2;
$primary-bg-light:         #E0F7FA;
$primary-very-light:       #F1FDFF;
$primary-dark:             #008BA3;
$primary-very-dark:        #006978;
$primary-shadow:           rgba(0, 188, 212, 0.4);
$primary-focus-outline:    rgba(0, 188, 212, 0.2);
$primary-border:           #b0e0e6;