<mat-card class="mat-container">
  <mat-card-header class="mat-header">
    <mat-card-title>{{ data.genre.name }}</mat-card-title>
    <mat-card-subtitle>{{data.genre.audience}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="mat-description">
    <p>{{ data.genre.description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-content class="mat-similar-movies">
      <h3>Movies in this genre:</h3>
      <div *ngIf="filteredMovies.length === 0" class="empty-message">
        No movies added yet...
      </div>
      <ul class="similar-movies-container">
        <li *ngFor="let movie of filteredMovies" class="similar-movie">
          <img [src] = "movie.imagePath" [alt] = "movie.name" class="movie-image">
        </li>
      </ul>
    </mat-card-content>
  </mat-card-footer>
  <mat-card-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-card-actions>
</mat-card>