<div class="register-wrapper">
  <mat-card class="register-mat">
    <mat-card-header class="header-mat">
      <mat-card-title class="header-title">Sign Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-content">
      <form class="mat-form">
        <input class="input-form" [(ngModel)]="userDetails.userName" placeholder="Username" type="text" name="Username"
          required>
        <input class="input-form" matInput [(ngModel)]="userDetails.password" type="password" placeholder="Password" name="Password"
          required>
        <input class="input-form" matInput [(ngModel)]="userDetails.email" type="email" placeholder="Email" name="Email" required>
        <input class="input-form" matInput [(ngModel)]="userDetails.birthDay" type="date" placeholder="Birthday" name="Birthday">
        <input class="input-form" matInput [(ngModel)]="userDetails.first_Name" type="text" placeholder="First Name" name="First Name">
        <input class="input-form" matInput [(ngModel)]="userDetails.last_Name" type="text" placeholder="Last Name" name="Last Name">
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="form-button" (click)="registerUser()" color="primary">
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>
</div>