<!-- <<div *ngIf="favoriteMovies.length > 0; else noFavorites">
  <div class="favorite-movies-grid">
    <mat-card *ngFor="let movie of favoriteMovies" class="movie-card" appearance="outlined">
      <img mat-card-image [src]="movie.imagePath" [alt]="movie.title" />
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-content>
        <p>{{ movie.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="warn" aria-label="Remove from favorites">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #noFavorites>
  <p class="no-favorites-message">You have no favorite movies yet.</p>
</ng-template> -->
<div>Works</div>