<ng-container *ngIf="token">
  <div class="movie-grid">
    <div *ngIf="loading">Loading Content...</div>
    <div class="movie-grid-cards">
      <mat-card *ngFor="let movie of filteredMovies" class="movies-card">
        <div class="img-wrapper">
          <img mat-card-image [src]='movie.imagePath' alt="{{movie.name}} poster" *ngIf="movie.imagePath" />
        </div>
        <div>
          <div class="content-wrapper">
            <mat-card-header class="header">
              <mat-card-title class="title">{{ movie.name }}</mat-card-title>
              <mat-card-subtitle class="sub-title">{{ getGenreInfo(movie.genre) }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p class="description">{{movie.description}}</p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button class="action-button" color="primary">More Info</button>
              <mat-icon>favorite_border</mat-icon>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>