@use './styles/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.main-wrapper {
  font-family: $headers-font;
  background-color: black;
  //  background: linear-gradient(135deg, black 80%, $accent-color 20%);
  color: #333;
  line-height: 1.6;
  min-height: 100vh;;
}

html, body {
  height: 100%;
}

