<div class="main-content-wrapper">
  <div class="movie-info-grid">
    <div *ngIf="loading">Loading Content...</div>
    <div *ngIf="movie as m">
      <mat-card class="movie-grid-cards">
        <div class="img-wrapper">
          <img [routerLink]="['/movies', movie.name]" mat-card-image [src]='movie.imagePath' alt="{{movie.name}} poster"
            *ngIf="movie.imagePath" />
        </div>
        <div>
          <div class="content-wrapper">
            <mat-card-header class="header">
              <mat-card-title class="title">{{ movie.name }}</mat-card-title>
              <mat-card-subtitle class="sub-title">{{ getGenreInfo(movie.genre) }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p class="description">{{movie.description}}</p>
              <div *ngIf="director">
                <h3>Director</h3>
                <p><strong>{{ director.name }}</strong></p>
                <p>{{ director.bio }}</p>
                <p *ngIf="director.birthYear">Born: {{ director.birthYear | date:'yyyy' }}</p>
                <p *ngIf="director.deathYear">Died: {{ director.deathYear | date:'yyyy' }}</p>
              </div>
            </mat-card-content>

            <mat-card-actions class="button-container">
              <button mat-button class="action-button" routerLink="/home">
                Go back</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>