<div class="profile-wrapper">
  <mat-card class="profile-mat">
    <mat-card-header class="header-mat">
      <mat-card-title class="header-title">User Information!</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-content">
      <form class="mat-form">
        <input class="input-form" [(ngModel)]="userDetails.userName" placeholder="Username" type="text" name="Username"
          required>
        <input class="input-form" matInput [(ngModel)]="userDetails.email" type="email" placeholder="Email" name="Email" required>
        <input class="input-form" matInput [(ngModel)]="userDetails.birthDay" type="date" placeholder="Birthday" name="Birthday">
        <input class="input-form" matInput [(ngModel)]="userDetails.first_Name" type="text" placeholder="First Name" name="First Name">
        <input class="input-form" matInput [(ngModel)]="userDetails.last_Name" type="text" placeholder="Last Name" name="Last Name">
      </form>
    </mat-card-content>
    <mat-card-actions class="actions-mat">
      <button class="form-button" (click)="updateUser()" color="primary">
        Update
      </button>
      <button class="delete-button" (click)="openDialog()" color="primary">
        Delete User
      </button>
    </mat-card-actions>
  </mat-card>
</div>