<div class="profile-wrapper">
  <mat-card class="profile-mat">
    <mat-card-header class="profile-mat">
      <mat-card-title class="profile-title">Sign Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-content">
      <form class="mat-form">
        <mat-form-field>
          <input matInput [(ngModel)]="userDetails.userName" placeholder="Username" type="text" name="Username"
            required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userDetails.email" type="email" placeholder="Email" name="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userDetails.birthDay" type="date" placeholder="Birthday" name="Birthday">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userDetails.first_Name" type="text" placeholder="First Name" name="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userDetails.last_Name" type="text" placeholder="Last Name" name="Last Name">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>
</div>