
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-dialog-container.custom-modal {
  background: linear-gradient(to bottom right, #1e1e2f, #282c34);
  color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}

::ng-deep .custom-dialog-panel {
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}